MONDAY_API_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
MONDAY_BOARD_ID=18419165433
MONDAY_BOARD_NAME=JunkDoctors
GOOGLE_CALENDAR_NAME=Mon: JunkDoctors
GOOGLE_CALENDAR_TIMEZONE=America/New_York
